.img1 {
  width: 3.5vw;
  margin: 0px 0px 12px;
}

.img2 {
  width: 12vw;
  height: auto;
}

.navbar {
  height: 16vh;
  width: 100%;
  padding-top: 3vh;
  position: fixed;
  z-index: 5;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  transition: background-color 0.3s ease-in-out;
}

.scrolled {
  background-color: #150E4E;
}
.navbar_right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px 1.5vw 16px;
  height: 80px;
}
.tags {
  color: white;
  text-decoration: none;
  font-size: 1.3vw ;
  padding: 0.5vw 0.5vw;
  transition: color 0.5s;
}

.result {
  background-color: #ffb400;
  border-radius: 0.25rem;
  transition: color 0.5s;
}
.tags:hover {
  color: #ffb400;
}

.result:hover {
  color: black;
}

.navbar_right ul {
  height: 80px;
}

.navbar_right li {
  margin: 0px 10px;
  list-style: none;
}
