.img1 {
  width: 3.5vw;
  margin: 0px 0px 12px;
}

.img2 {
  width: 12vw;
  height: auto;
}

.navbar_right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px 1.5vw 16px;
  height: 80px;
}
.tags {
  color: white;
  text-decoration: none;
  font: 1.3vw Goldman;
  padding: 0.5vw 0.5vw;
  transition: color 0.5s;
}

.result {
  background-color: #ffb400;
  border-radius: 0.25rem;
  transition: color 0.5s;
}
.tags:hover {
  color: #ffb400;
}

.result:hover {
  color: black;
}

.navbar_right ul {
  height: 80px;
}

.navbar_right li {
  margin: 0px 10px;
  list-style: none;
}
