.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #063143;
    font-family: 'Poppins';
    padding: 40px 0;
    width: 100%;
}

.footer_main {
    width: 95%;
    display: flex;
    justify-content: space-between;
}

/* ---------------------- Footer Left ---------------------- */

.footer_main_left {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.footer_main_left_heading {
    display: flex;
    column-gap: 10px;
    align-items: center;
    margin-bottom: 15px;
}

.footer_main_left_heading hr{
    height: 80%;
    width: 1px;
    background-color: #1b556d;
    border: 0;
}

.footer_main_left_heading_logo {
    height: 55px;
    width: 55px;
}

.footer_main_left_heading_logo img {
    height: 100%;
    width: 100%;
}

.footer_main_left_heading_text span {
    font-size: 14px;
    font-weight: 700;
    line-height: 0.5;
    color: #ffffff;
}

.footer_main_left_text {
    margin-bottom: 10px;
}

.footer_main_left_text span {
    color: rgb(255, 255, 255, 0.75);
    font-size: 14px;
}

.footer_main_left_button button {
    margin-top: 5px;
    background-color: transparent;
    color: white;
    border: 1px solid rgb(159, 172, 184);
    font-weight: 600;
    font-size: 12px;
    padding: 10px 20px;
    border-radius: 18px;
}

.footer_main_left_button button:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #01759D;
}


/* ---------------------- Footer Middle ---------------------- */

.footer_main_middle {
    width: 50%;
    display: flex;
    justify-content: center;
}
.footer_middle_container{
    width: 75%;
    display: flex;
    justify-content: space-between;
}
.footer_middle_content{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.footer_middle_content div{
    color: rgb(255, 255, 255, 0.6);
    font-weight: 700;
    font-size: 18px;
}
.footer_middle_content span{
    font-size: 16px;
    color: rgb(255, 255, 255, 0.4);
}
.footer_middle_content:nth-child(odd) span:hover{
    cursor: pointer;
    color: white;
}

/* ---------------------- Footer Right ---------------------- */

.footer_main_right {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_main_right_icons {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.footer_main_right_icons img {
    height: 35px;
    width: 35px;
}