.main_div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.marks_h1 {
  padding-top: 36vh;
  color: #ffb400;
  font-size: 2vw;
}

.error {
  padding-top: 36vh;
  color: #ffb400;
}
